.fruit_list {
  display: flex;
}

li {
  list-style: none;
  max-width: 250px;
  height: 250px;
  box-shadow: 0 0 20px 5px lightgrey;
  box-sizing: border-box;
  margin: 20px 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: all 0.5s ease-in;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}
a:hover {
  transform: scale(1.1);
}

img {
  width: 60%;
  border-radius: 15px;
}

h4 {
  font-size: 24px;
  margin: 0 0 10px;
  border-bottom: solid lightgrey 2px;
  padding: 5px;
  color: black;
}

p {
  color: grey;
  font-style: italic;
  padding-bottom: 20px;
  margin-top: 0;
}
